input:focus{
  outline: none;
}


/*.base{*/
/*display: inline-block;*/
/*font-family: Courier;*/
/*font-size: 12px;*/
/*}*/
/*.wait{*/
/*text-decoration: blink;*/
/*display: inline-block;*/
/*}*/
/*.commande{*/

/*display: inline-block;*/
/*background-color : black;*/
/*border: 0;*/
/*color: white;*/
/*font-family: Courier;*/
/*}*/
/*.opacity{*/
/*opacity: 0;*/
/*}*/
/*.displaynone{*/
/*display: none;*/
/*}*/





$window-not-focused: rgb(246, 246, 246);
$window-focused: linear-gradient(0deg, rgb(216, 216, 216), rgb(236, 236, 236));
$window-border: rgb(75, 166, 245);

$handle-height: 34px;

$window-width: 640px;
$window-height: 480px;

html, body {
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

textarea, input, button {
  outline: none;
}
.window {
  animation: bounceIn 1s ease-in-out;
  width: $window-width;
  border-bottom: 1px solid  $window-border;
  border-left: 1px solid  $window-border;
  border-right: 1px solid  $window-border;
  .handle {
    height: $handle-height;

    background: $window-focused;

    border-top-left-radius: 5px solid  $window-border;
    border-top-right-radius: 5px solid  $window-border;

    color: rgba(0, 0, 0, 0.7);

    font-family: "Courier", sans-serif;
    font-size: 13px;

    line-height: $handle-height;
    text-align: center;
  }

  .terminal {

    background-color: black;
    opacity: 0.7;

    height: $window-height / 2 - $handle-height;

    color: white;

    font-family: "Courier", sans-serif;

    font-weight: 200;
    font-size: 14px;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    overflow-y: auto;

    &::after {
      content: "|";
      animation: blink 1s steps(1) infinite;
    }
  }
}

.prompt {
  color: rgb(106, 221, 49);
}

.path {
  color: rgb(94, 215, 255);
}

@keyframes blink { 50% { color: transparent; } }
@keyframes bounceIn {
  0% {
    transform: translateY(-1000px);
  }
  60% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}